#nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: auto;
  background-color: #878787;
  width: 100%;
}
.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
  background-color: #373737;
}
#moveVid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#moveForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#pricing {
margin-right: -230px;
margin-left: 20px;
}

#list {
  margin: auto;
  display: table;
  list-style-type: none;
}

#header-img {
  max-width: 100%;
}

#footer {
  text-align: center;
}
#submit {
   background-color: green;
   border-color: green;
 }
#trombonename {
  font-size: 150%;
  text-align: center;
  background-color: #979797;
  color: white;
}

#trombonecost {
  text-align: center;
}

#maincost {
  text-align: center;
  font-size: 250%;
  color: #CFB53B;
}

#trombonedesc {
  text-align: center;
}

#selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#selectButton {
  background-color: green;
  border-color: green;
}

#boxes {
  border-style: solid;
  border-color: black;
  border-width: thin;
  padding: inherit;
}


@media(max-width: 600px) {
  #header-img {
    max-width: 100%;
  }
  #moveVid {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #submit {
    margin-left: 16.666667%;
  }
    #video{
    width: 95%;
  }
}

@media(min-width: 601px) and (max-width: 700px) {
  #header-img {
    max-width: 100%;
  }
  #moveVid {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #submit {
    margin-left: 16.666667%;
  }
  #video{
    width: 95%;
  }
}
